#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #FFFFFF;
    font-family: Helvetica, Tahoma, 'Trebuchet MS';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #F2CC8F;
}
nav a:hover {
    background-color: #F4F1DE;
    color: #F2CC8F;
    text-decoration: underline;
}
.book, .join {
    background-color: #81B29A;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #F4F1DE;
    text-decoration: underline;
}
#background {
    background-color: #F4F1DE;
}
.msg {
    background-color: #F2CC8F;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #F2CC8F;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title, h4 {
    color: #F2CC8F;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    color: #81B29A;
    text-decoration: underline;
}
.logo, .icon{
    width: 80px;
}
#hero-img {
    width: 100%;
}
.home-title {
    font-family: Georgia, Garamond, 'Times New Roman';
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
.msg p {
    padding-bottom: 15px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card, .mountains {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #F2CC8F;
}
main section img {
    box-sizing: border-box;
}